<!-- <app-header></app-header> -->
<mat-toolbar style="background-color: rgb(161, 143, 228);">

    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="./listReceipe" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Receipe </a>
      <a mat-button routerLink="./addReceipe" routerLinkActive="active-link" > Add </a>
      <a mat-button routerLink="'/contacts'" routerLinkActive="active"> Edit </a>
      <a mat-button routerLink="'/create-contact'" routerLinkActive="active"> View </a>
      <button mat-raised-button style="margin-left: 80em;"> ADD </button>

    </div>
</mat-toolbar>
